<a href="/fripes/{{fripe.id}}">
    <div className="ff-fripe-main-picture-container">
        <img alt="" className="ff-fripe-main-picture" src={{fripe.pictures.length> 0 ? fripe.pictures[0].filename : ""}}
        />
    </div>
    <div className="ff-fripe-name">
        {{fripe.name}}
    </div>
</a>