<div class="ff-search">
  <div class="ff-searchbar-container">
    <i class="search-icon fa-2x fa-solid fa-magnifying-glass"></i>
    <input class="ff-searchbar" type="search" placeholder="Une fripe dans ma ville ?" />
    <button>Rechercher</button>
  </div>
</div>