<div class="ff-search">
  <div class="ff-searchbar-container">
    <i class="search-icon fa-2x fa-solid fa-magnifying-glass"></i>
    <form method="get" action="/cities" up-layer="new popup" up-focus="keep">
      <input class="ff-searchbar" type="text" placeholder="Une fripe dans ma ville ?" up-autosubmit up-watch-delay="300"
        name="city" />
      <button>Rechercher</button>
    </form>
  </div>
</div>