$lightbrown-major: #dba979;
$lightbrown-minor: #ecca9c;
$lightgreen-minor: #f3f6e6;
$lightgreen-major: #94d468;
$lightwhite-major: #ffffff;
$dark-major: #000000;
$dark-minor: #00000022;

$text-color: #4e4e4e;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $lightgreen-major;
  cursor: pointer;
  transition: border-color 0.25s;
  color: $dark-major;
}

button:hover {
  border-color: $dark-major;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.ff-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  color: $text-color;

  .ff-header-container {
    z-index: 100;
  }

  .ff-header {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    background-color: $lightgreen-major;
    padding: .5em 1em;

    .logo {
      height: 3em;
      width: 10em;
      border-radius: .5em;
      background-color: $lightwhite-major;

      // remove when image
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .tools {
      display: flex;
      gap: 2em;
    }

    .tool {
      background-color: $lightwhite-major;
      padding: .25em 1em;
      border-radius: .5em;
    }
  }

  .ff-navbar {
    height: 4em;
    width: 100%;
    background-color: $lightwhite-major;
    box-shadow: 0 .3em .5em $dark-minor;
  }

  .ff-content {
    flex-grow: 1;
    z-index: 90;
  }

  .ff-footer {
    height: 5em;
    min-height: 5em;
    background-color: $lightwhite-major;
    padding: .5em 1em;
    box-shadow: 0 -.3em .5em $dark-minor;
  }

  .ff-search {
    background-color: $lightgreen-minor;
    display: flex;
    align-items: center;
    width: 100%;
    height: 15em;
    padding: .5em 5em;

    .ff-searchbar-container {
      position: relative;
      display: flex;
      width: 50em;
      min-width: 30em;
      height: 3.5em;

      .search-icon {
        position: absolute;
        left: .5em;
        top: 50%;
        translate: 0 -50%;
      }

      .ff-searchbar {
        color: $dark-major;
        width: 100%;
        height: 100%;
        background-color: $lightwhite-major;
        border-radius: .5em;
        padding: 1em 8em 1em 4em;
        font-size: large;

        &::placeholder {
          color: $dark-major;
          font-size: large;
          text-align: left;
        }
      }

      button {
        position: absolute;
        height: 80%;
        right: .5em;
        top: 50%;
        translate: 0 -50%;
      }
    }
  }
}

.ff-fripe-main-picture-container {
  .ff-fripe-main-picture {
    display: block;
    object-fit: cover;
    width: 300px;
    height: 300px;
  }
}

.ff-fripes-list {
  background-color: $lightwhite-major;
  display: flex;
  gap: 1em;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 15em;
}

.ff-fripe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .2em;
  overflow: hidden;
  background-color: #ffffffaa;
  cursor: pointer;
  user-select: none;
  transition: transform .2s;

  &:hover {
    box-shadow: 0 0 .25em $lightgreen-major;
    transform: scale(1.05);
  }
}

.ff-fripe-name {
  text-align: center;
  width: 100%;
  padding: .5em 0;
}

.ff-fripe-details {
  padding: 2em;
}