<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title || "Fripes.fr : trouve ta fripe à côté de chez toi!" }}</title>
  @if ($slots.meta)
  {{{ await $slots.meta() }}}
  @endif
  @vite(['resources/css/app.scss', 'resources/js/app.js'])

  <script src="https://kit.fontawesome.com/e34a7101f6.js" crossorigin="anonymous"></script>
</head>

<body class="ff-container">
  <header class="ff-header-container">
    @!component('components/layout/header', { })
  </header>
  <div class="ff-content">
    {{{ await $slots.main() }}}
  </div>
  <footer>
    @!component('components/layout/footer', { })
  </footer>
</body>

</html>