<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title || "Fripes.fr : trouve ta fripe à côté de chez toi!" }}</title>
  @if ($slots.meta)
  {{{ await $slots.meta() }}}
  @endif
  @vite(['resources/css/app.scss', 'resources/js/app.js'])
</head>

<body class="ff-container">
  <header>
    @component('components/layout/header', { })

    @end
  </header>
  {{{ await $slots.main() }}}
  <footer>
    @component('components/layout/footer', { })

    @end
  </footer>
</body>

</html>