<div class="ff-header">
  <div class="logo">
    Fripes.fr
  </div>
  <div class="tools">
    <div class="tool accessibility">
      Accessibilité
    </div>
    <div class="tool contact">
      Contact
    </div>
  </div>
</div>
<div class="ff-navbar">

</div>