@layout.app({ title: "Fripes.fr: trouve la fripe la plus proche de toi!" })
@slot('meta')
<meta name="description" content="Page d'accueil de l'annuaire français de recherche des friperies">
@endslot

@!component('components/search', { })
@!component('components/fripes-list', {fripes: fripes})
@end